<script>
    import SortableList from './MyLib/SortableList.svelte';
    import Sortable from './Sortable.svelte';
    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }
    let list = [
        { id: 1, name: '1 Item', color: getRandomColor() },
        { id: 2, name: '2 Item', color: getRandomColor() },
        { id: 3, name: '3 Item', color: getRandomColor() },
        { id: 4, name: '4 Item', color: getRandomColor() },
        { id: 5, name: '5 Item', color: getRandomColor() },
        { id: 6, name: '6 Item', color: getRandomColor() },
        { id: 7, name: '7 Item', color: getRandomColor() },
        { id: 8, name: '8 Item', color: getRandomColor() },
        { id: 9, name: '9 Item', color: getRandomColor() },
        { id: 10, name: '10 Item', color: getRandomColor() },
        { id: 11, name: '11 Item', color: getRandomColor() },
        { id: 12, name: '12 Item', color: getRandomColor() },
        { id: 13, name: '13 Item', color: getRandomColor() },
        { id: 14, name: '14 Item', color: getRandomColor() },
        { id: 15, name: '15 Item', color: getRandomColor() },
        { id: 16, name: '16 Item', color: getRandomColor() },
        { id: 17, name: '17 Item', color: getRandomColor() },
        { id: 18, name: '18 Item', color: getRandomColor() },
        { id: 19, name: '19 Item', color: getRandomColor() },
        { id: 20, name: '20 Item', color: getRandomColor() },
        { id: 21, name: '21 Item', color: getRandomColor() },
        { id: 22, name: '22 Item', color: getRandomColor() },
        { id: 23, name: '23 Item', color: getRandomColor() },
        { id: 24, name: '24 Item', color: getRandomColor() },
        { id: 25, name: '25 Item', color: getRandomColor() },
        { id: 26, name: '26 Item', color: getRandomColor() },
        { id: 27, name: '27 Item', color: getRandomColor() },
        { id: 28, name: '28 Item', color: getRandomColor() },
        { id: 29, name: '29 Item', color: getRandomColor() },
        { id: 30, name: '30 Item', color: getRandomColor() },
        { id: 31, name: '31 Item', color: getRandomColor() },
        { id: 32, name: '32 Item', color: getRandomColor() },
        { id: 33, name: '33 Item', color: getRandomColor() },
        { id: 34, name: '34 Item', color: getRandomColor() },
        { id: 35, name: '35 Item', color: getRandomColor() },
        { id: 36, name: '36 Item', color: getRandomColor() },
        { id: 37, name: '37 Item', color: getRandomColor() },
        { id: 38, name: '38 Item', color: getRandomColor() },
        { id: 39, name: '39 Item', color: getRandomColor() },
        { id: 40, name: '40 Item', color: getRandomColor() },
        { id: 41, name: '41 Item', color: getRandomColor() },
        { id: 42, name: '42 Item', color: getRandomColor() },
        { id: 43, name: '43 Item', color: getRandomColor() },
        { id: 44, name: '44 Item', color: getRandomColor() },
        { id: 45, name: '45 Item', color: getRandomColor() },
        { id: 46, name: '46 Item', color: getRandomColor() },
        { id: 47, name: '47 Item', color: getRandomColor() },
        { id: 48, name: '48 Item', color: getRandomColor() },
        { id: 49, name: '49 Item', color: getRandomColor() },
        { id: 50, name: '50 Item', color: getRandomColor() },
    ];
    const sortList = ev => {
        list = ev.detail;
    };
    const deleteItem = ev => {
        list = ev.detail;
    };
</script>

<SortableList
    {list}
    key="id"
    on:sort={sortList}
    on:deleteItem={deleteItem}
    let:item
    let:index>
    <Sortable {item} {index} />
</SortableList>
