<script>
    export let item;
    export let index;
</script>

<div style="--theme-color: {item.color}">
    <p>{index}</p>
    <p>{item.name}</p>
</div>

<style lang="scss">
    div {
        width: 100px;
        height: 100px;
        background-color: var(--theme-color);
    }
    p {
        margin: 0;
    }
</style>
